<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Teleconference</title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/teleconference/style.css")
        @RenderSection("Styles", false)
    </head>
    <body>
        <div class="page-wrap">
            <header class="header hf-backcol">
                <div class="col-lg-3"></div>
                <h1 class="name col-lg-6">Telekonsultacje medyczne</h1>
                <section id="navigation" class="col-lg-3">
                    @Html.Partial("_NavigationPartial")
                </section>
            </header>

            <div id="body">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
         </div>
        <footer class="site-footer hf-backcol">
            <div>
                <p>Projekt i przygotowanie strony:</p>
                <p>Natalia Braniewska</p>
                <p>Filip Nienartowicz</p>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>
</html>
