@model IEnumerable<Medical_teleconference.Models.Photo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/teleconference/conference.css")" rel="stylesheet" type="text/css" />
}
@section Scripts2 {
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.9.2.min.js")
    @Scripts.Render("~/Scripts/jquery.ui.widget.min.js")
    @Scripts.Render("~/Scripts/jquery.iframe-transport.js")
    @Scripts.Render("~/Scripts/jquery.fileupload.js")
    @Scripts.Render("~/Scripts/jquery.fileupload-ui.js")
    @Scripts.Render("~/Scripts/ImageTransformation2.js")
}

<div class="main">
    <div class="welcome col-lg-5 col-md-7 col-sm-10">
        <h1>Witaj w pokoju @ViewBag.RoomName</h1>
    </div>
</div>
@Html.Partial("_ImageListPartial", Model)
<div class="main">
    <div class="col-md-6 col-lg-6">
        @Html.Partial("_ImagePartial")
        @Html.Partial("_ConferenceTransformationsPartial")
        <div class="row">
            <br />
            @Html.Partial("_ImageFormPartial")
            
        </div>
    </div>
</div>
@Html.Partial("_ChatPartial")

@section Scripts {
    @Scripts.Render("~/Scripts/ImageTransformation.js")
    @Scripts.Render("~/Scripts/ImageUpload.js")
}
