@model Medical_teleconference.Models.Room

@{
    ViewBag.Title = "Edit";
}

@section Styles {
    <link href="@Url.Content("~/Content/teleconference/rooms.css")" rel="stylesheet" type="text/css" />
}

<div class="main col-lg-12 col-md-12 col-sm-12">
    <div class="field backcolor-lightgreen col-lg-4 col-md-6 col-sm-8">
        @using (Html.BeginForm())
        {
            <div class="cont">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <h2>Edytuj pokój</h2>

                @Html.HiddenFor(model => model.RoomId)

                @Html.LabelFor(model => model.RoomName)
                @Html.EditorFor(model => model.RoomName)
                @Html.ValidationMessageFor(model => model.RoomName)

                <div class="line">
                    <input class="button button-color-goto" type="submit" value="Zapisz" />
                    <button class="button button-color-cancel" onclick="location.href='@Url.Action("Index", "Room")';return false;">Anuluj</button>
                </div>
            </div>

            
        }
    </div>
    <div class="field backcolor-lightblue col-lg-4 col-md-6 col-sm-8">
        <h1>Uczestnicy</h1>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
